
<div class="col-xs-offset-1 col-xs-10 col-md-offset-2 col-md-8 login-form-bg jumbotron">
    <h3 class="text-center">New TradeMark</h3>

    <form name="userForm" enctype="multipart/form-data" method="post" action="/api/photo" class="signin" novalidate autocomplete="off">
        <fieldset>
            <div class="form-group">
                <div ng-show="error" class="text-center text-danger">
                    <div class="alert alert-danger" role="alert">
                        <strong ng-bind="error"></strong>
                    </div>
                </div>
            </div>
            <div class="form-group" show-errors>
                <div class="input-group" show-errors>
          <span class="input-group-addon">
            <i class="text-muted glyphicon glyphicon-star"></i>
          </span>
                    <input type="text" id="title" name="title" class="form-control" ng-model="trademark.title"
                           placeholder="Title" required>
                </div>
            </div>
            <div class="form-group" show-errors>
                <div class="input-group" show-errors>
          <span class="input-group-addon">
            <i class="text-muted glyphicon glyphicon-star"></i>
          </span>
                    <textarea style="overflow:auto;resize:none" id="description" name="description" class="form-control" rows="5"
                              ng-model="trademark.description" placeholder="Description" required></textarea>

                </div>
            </div>
            <input type="file" ng-model="picFile" name="photos"/>
            <div class="text-center form-group">
                <button type="submit" class="btn btn-default btn-lg btn-block">New</button>

            </div>

        </fieldset>
    </form>
</div>
<script>

    $("#file-1").fileinput({
        uploadUrl: '#', // you must set a valid URL here else you will get an error
        allowedFileExtensions : ['jpg', 'png','gif'],
        overwriteInitial: false,
        showUpload :false,
        uploadAsync:false,
        maxFileSize: 1000,
        maxFilesNum: 10,
        //allowedFileTypes: ['image', 'video', 'flash'],
        slugCallback: function(filename) {
            return filename.replace('(', '_').replace(']', '_');
        }
    });
</script>