
<!DOCTYPE html>
<html ng-app="myApp">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>AdminLTE 2 | Dashboard</title>
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
  <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.min.css">

  <script src="/lib/jquery/dist/jquery.min.js"></script>
  <script src="/lib/bootstrap/dist/js/bootstrap.min.js"></script>

  <link rel="stylesheet" href="/lib/css/fileinput.css">
  <script src="/lib/js/fileinput.js"></script>

  <link rel="stylesheet" href="/lib/css/AdminLTE.min.css">
  <script type="text/javascript" src="/lib/angular/angular.min.js"></script>
  <script type="text/javascript" src="/lib/angular-cookies/angular-cookies.min.js"></script>

  <script type="text/javascript" src="/lib/angular-ui-router/release/angular-ui-router.min.js"></script>
  <script type="text/javascript" src="/lib/angular-route/angular-route.min.js"></script>
  <script type="text/javascript" src="/lib/angular-resource/angular-resource.js"></script>

  <script type="text/javascript" src="/lib/angular-animate/angular-animate.min.js"></script>

  <link rel='stylesheet' href='/lib/test/loading-bar.css' type='text/css' media='all' />
  <script type='text/javascript' src='/lib/test/loading-bar.js'></script>
  <script type="text/javascript" src="/client/myApp.js"></script>
  <script type="text/javascript" src="/client/config/route.js"></script>
  <script type="text/javascript" src="/client/service/Auth.js"></script>
  <script type="text/javascript" src="/client/service/TradeMarkService.js"></script>
  <script type="text/javascript" src="/client/service/ResourceTradeMark.js"></script>

  <script type="text/javascript" src="/client/controllers/LoginController.js"></script>
  <script type="text/javascript" src="/client/controllers/NavbarController.js"></script>
  <script type="text/javascript" src="/client/controllers/TradeMarkController.js"></script>


  <![endif]-->
</head>
<body style="background: #dedede" >
<nav ng-include="'/client/pages/navbar.html'"></nav>
<div class="container" ui-view>

  <!-- Main component for a primary marketing message or call to action -->


</div>

</body>
</html>

